html {
  scroll-behavior: smooth;
}

.section {
  min-height: 100vh;
  padding: 4rem 1rem;
  scroll-margin-top: 70px;
  background-color: #f8f9fa;
}

#home {
  background-color: #e9ecef;
}

#home h1,p{
  font-weight: bold;
  size: 100px;
}
.card img {
  height: 250px;
  object-fit: cover;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#about img {
  max-height: 700px;
  width: auto;
}

#home{
    background-color: darkgrey;
}
